# IDEs/Debuggers
/.vs/
/.vscode/

# Temp directories for compile
/bin/*
!/bin/test_script.txt
!/bin/prefab_dead_simple.txt
/buildwintemp/
/buildwin_dlltemp/

# IDEs
*.db
/xercise.VC.VC.opendb
*.i
*.sln
*.vcxproj*

# Compiles
*.out
